.div{
    width: 400px;
    height: auto;
      background-color: rgb(235, 227, 227); 
       border: solid rgb(230, 218, 218) 3px; 
          border-radius: 10px; 
          display: flex;
    flex-direction: column;
}
.div-content{
   
    margin: 30px auto;

  
   
   
}
.div-content>h2{
    text-align: center;
    color: rgb(34, 33, 33);
    margin: 18px;
    font-weight: bold;
    font-size: 30px;
}
.div-content>p{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: rgb(63, 59, 59);  
}
.icon{
    width: 200px;
    font-size: 70px;
     color: rgb(44, 44, 44); 
     margin: 6px auto;
}
.div>button{
    text-align: center;
    bottom: 0;
    color: black;
    font-weight: bold;
   padding: 10px 10px;
   margin: 10px;
   border-radius: 10px;
    background-color:rgb(112, 64, 0) ;
    color: white;
    
}
.div>button:hover{
    background-color: rgb(233, 138, 30);
}
@media(min-width:558px){
    .div-padre{
        display: flex;
        justify-content: space-around;
        margin: 80px;
    }
    .div{
        width: 250px;
        height: auto;
        margin: 0px -40px;
        
    }
    .div>button{
        margin: 0px 0px 0px 0px ;
        bottom: 0;
    }
    .div>p{
        font-size: 15px;

    }
    .div>h2{
        font-size: 20px;
    }
    .icon{
        width: 200px;
        font-size: 40px;
    }
}