.div{
    width: 350px;
    height: auto;
      background-color: rgb(235, 227, 227); 
       border: solid rgb(230, 218, 218) 3px; 
          border-radius: 10px; 
          display: flex;
    flex-direction: column;
    margin: 50px auto;
}

.div-content>h2{
    text-align: center;
    color: rgb(68, 68, 68);
    margin: 18px;
    font-weight: bold;
    font-size: 30px;
}
.div-content>p{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: rgb(90, 88, 88);  
}
.icon{
    width: 200px;
    font-size: 70px;
     color: rgb(73, 47, 7); 
     margin: 6px auto;
}
.div>button{
    text-align: center;

    color: black;
    font-weight: bold;
   padding: 10px 10px;
   margin: 20px 0px 0px 0px;
  top: 0;
   border-radius: 10px;
    background-color:rgb(112, 64, 0) ;
    color: white;
    
}
.div>button:hover{
    background-color: rgb(233, 138, 30);
}
@media(min-width:558px){
    .div-padre{
        display: flex;
        justify-content: space-around;
        margin: 80px;
    }
    .div{
        width: 250px;
        height: auto;
        margin: 0px -40px;
        
    }
    .div-content{
        margin: 0px;
    }
    .div>button{
        margin: 0px ;
        
    }
    .div-content>p{
        font-size: 15px;
        margin: 0px;
        color: #666464;

    }
    .div-content>h2{
        font-size: 20px;
    }
    .icon{
        width: 200px;
        font-size: 40px;
    }
}