main{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210917/pngtree-background-elegant-black-with-gold-line-side-3-image_901637.jpg");
    
     background-color: rgb(15, 15, 15);
    color: white;
    border: solid rgb(15, 15, 15);
    
}