.div-cuartos{
    display: flex;
    width: auto;
    height: 220px;
    margin: 10px auto;
      border-radius: 10px;
    border: solid rgb(0, 0, 0) 2px;
    background-color: rgba(255, 249, 244, 0.89);
 
}
.imgload{
    width: 30px;
    height: 30px;
    margin: 50px;
}
.devload{
    height: 140px;
  
    display: flex;
    justify-content: center;
}
.info-habitacion{
    color: rgb(64, 148, 204);
    display: flex;
}
.info-habitacion>p{
    margin: 0px 10px;
}
.imgdev{
    width: 400px;
}
.img-cuartos{
    width: 100px;
     height: 100%;
     margin: 0px;
     border-radius: 10px;

}
.info{
    width: 730px;

    margin: 20px 0px;
    font-weight: 500;
    text-align: start;
 
}
.suit-title{
    font-size: 30PX;
    color: rgb(128, 77, 36);
    font-weight: bold;
}
.suit-p{
    color: rgb(75, 74, 73);
    font-size: 15px;
    
}
.reservar{
    /* border: solid rgb(92, 91, 91) 2px; */
    border-radius: 10px;
    font-weight: bold;
    color: white;
    padding: 10px;
    text-decoration: none;
    width: 180px;
    background-color: rgb(201, 118, 11);
}
.reservar:hover{
    background-color: rgb(255, 179, 37);
}
@media(min-width:558px){
    .div-cuartos{
        width: 800px;
        margin: 10px auto;
    }
    .img-cuartos{
        width: 300px;
        margin: 0px 0px;
        /* border: solid red 3px; */
    }
    .info{
        width: 1500px;
    margin: 20px 10px;
    /* border: solid rgb(24, 24, 23); */
    }
}