.navegador{
    background-image: url("/img/footer.jpg");
    background-color: rgba(49, 22, 9, 0.815);
}
.link{
    font-weight: 400;
    font-size: 14px;
    margin: 0px 0px;
}
.link:hover{
    color: orange;
    background-color: cadetblue;
}
@media  only screen and (max-width: 500px) {
   
    .imglogo{
        margin: 0px 80px;
        
    }
    .btn-menu{
      font-size: 30px;
    }
}
@media(min-width:768px){
    
}